Concecionaria/ConcecionariaWatsApp.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "703eeceb-4960-41e3-b123-1c72bca460da",
              "name": "chat_id",
              "value": "={{ $json.body.conversation.messages[0].sender.identifier }}",
              "type": "string"
            },
            {
              "id": "54c42682-3c54-431c-bdcf-ca9f0d59cccd",
              "name": "converssation_ID",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "41e33fda-252b-4432-98bd-02a60c96cd22",
              "name": "mensaje",
              "value": "={{ $json.body.conversation.messages[0].processed_message_content }}",
              "type": "string"
            },
            {
              "id": "b1e7082d-b411-44bd-a1cb-2208d560f9d9",
              "name": "phone_number",
              "value": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "91a0ef86-a85f-4f3c-bf88-e449eff53f88",
              "name": "source_id",
              "value": "={{ $json.body.conversation.contact_inbox.source_id }}",
              "type": "string"
            },
            {
              "id": "ed8b9f5d-501d-4853-92da-41143d3af812",
              "name": "inbox_id",
              "value": "={{ $json.body.inbox.id }}",
              "type": "string"
            },
            {
              "id": "632ee04e-a093-4107-932b-7237d94f419c",
              "name": "acount_id",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        500
      ],
      "id": "b08df1fb-74c6-47b0-b50a-8c5e2d63c135",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.menssaje_final_cadena }}",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        4080,
        400
      ],
      "id": "fe41e88e-f4a6-4291-9c22-ed6ecc1111df",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3820,
        780
      ],
      "id": "6b21d135-c397-4759-bd84-952684cf62c1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        840,
        600
      ],
      "id": "25bc44e8-f17d-46a1-9cbf-058924bf0718",
      "name": "Webhook chatwoot",
      "webhookId": "6858bb79-73bd-4648-a507-9cbb75c85f6d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "api_access_token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Basic LLM Chain').first().json.output.mensaje1 }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7900,
        420
      ],
      "id": "8c3b8857-3e1f-459b-9f13-81c05b36c257",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "25b6e7ea-7a9c-4a8e-84cb-b3cf046693ba",
                    "leftValue": "={{ $('If').item.json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e844f3c-0a94-4731-986a-a67ed4375d73",
                    "leftValue": "={{ $json.body.conversation.messages[0].attachments[0].file_type }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1500,
        500
      ],
      "id": "2a538cfa-1b4f-4639-ada1-3779f10f7b6d",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2208bd76-eaf0-46d4-8fcb-92c0ef272bca",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "User",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1060,
        600
      ],
      "id": "a9815b86-4d8c-4288-9e17-717a676c016d",
      "name": "If"
    },
    {
      "parameters": {
        "url": "={{ $('If').item.json.body.attachments[0].data_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        400
      ],
      "id": "d062e1cc-5e18-4204-8b83-a0aad82df429",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1940,
        400
      ],
      "id": "984675e4-70b2-45b4-9d22-5ebc8d576a55",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e355d5e7-626f-4054-a7bf-baea5ef3201e",
              "name": "mensaje",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        400
      ],
      "id": "64178173-c184-4a57-abc8-998a35798fc2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e355d5e7-626f-4054-a7bf-baea5ef3201e",
              "name": "mensaje",
              "value": "={{ $('Webhook chatwoot').item.json.body.conversation.messages[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        600
      ],
      "id": "efdd9b7c-fbe8-48d9-9567-60b06e2c4989",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a0a4143-86d2-405b-8942-f9bf5c4f65d2",
              "name": "mensaje_final",
              "value": "={{ $json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2380,
        500
      ],
      "id": "1aad49fc-777a-4781-9330-eeaa3890fb78",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Edit Fields').item.json.chat_id }}",
        "messageData": "={{ $json.mensaje_final }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2600,
        500
      ],
      "id": "6eefb993-f853-4e1c-89ba-6519dde07e00",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "hR3wgXczCmnhBwyt",
          "name": "Redis server"
        }
      }
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2820,
        500
      ],
      "id": "f7af10fe-8af8-42f9-83b8-a6a42c7895ad",
      "name": "Wait",
      "webhookId": "49c8cf27-ecd0-4251-b676-0083a7ed1aed"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('Switch').item.json.chat_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3040,
        500
      ],
      "id": "a0c90b8f-57f3-4667-81f1-d06646029465",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "hR3wgXczCmnhBwyt",
          "name": "Redis server"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dc5cb4f8-04d8-4898-8548-580ceeaf05a9",
              "leftValue": "={{ $json.propertyName.last()}}",
              "rightValue": "={{ $('Edit Fields3').item.json.mensaje_final }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3260,
        500
      ],
      "id": "b18b7e4f-ea70-47e8-bb2a-29e1d0d10608",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "315775d8-db25-49b6-9dc8-002eb6ee818f",
              "name": "menssaje_final_cadena",
              "value": "={{ $('Redis1').item.json.propertyName.join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3480,
        400
      ],
      "id": "cd9315f0-3000-4079-938a-c6ea5457cac8",
      "name": "Edit Fields4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3480,
        600
      ],
      "id": "5f0ac39f-c8c4-4712-bf49-839c9395b9c7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1280,
        700
      ],
      "id": "de08befb-f7fa-4ae9-b6cc-cf8244dae87c",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Switch').item.json.chat_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3700,
        400
      ],
      "id": "439679f5-e202-49d6-9a63-b989ee1b6094",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "hR3wgXczCmnhBwyt",
          "name": "Redis server"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "limit": 7,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Switch').item.json.chat_id }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5160,
        400
      ],
      "id": "191cf5e7-a1b5-4163-bce7-10a79f898eb8",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "lzXLJIAV5Mw450JJ",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').first().json.chat_id }}",
        "contextWindowLength": 8
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3960,
        780
      ],
      "id": "9d8e1f77-4932-4cdd-b500-28f562dfaa54",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lzXLJIAV5Mw450JJ",
          "name": "Postgres supabase"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        5540,
        400
      ],
      "id": "3af8d8c0-11b9-4c1d-b50e-349682e495ba",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": "=\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        7340,
        420
      ],
      "id": "612f3485-7a82-45cd-b3ae-38020ca5c211",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        7240,
        660
      ],
      "id": "41f97eb5-2b8e-49d9-b2ab-2337f2f1b754",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const mensajes = items\n  .slice() // copiamos el array para no mutar el original\n  .reverse() // invertimos el orden\n  .map(item => {\n    return {\n      type: item.json.message.type,\n      content: item.json.message.content\n    };\n  });\n\nreturn [\n  {\n    json: {\n      mensajes\n    }\n  }\n];\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5340,
        400
      ],
      "id": "ae13a9c9-0982-4a8f-a037-bf49029ccf23",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "5493385437684@s.whatsapp.net"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9c804b55-7b0f-42a2-b5ee-23ef21791ae2",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "hR3wgXczCmnhBwyt",
          "name": "Redis server"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8",
          "mode": "list",
          "cachedResultName": "CRM CONSECIONARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 551874822,
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TEL",
              "lookupValue": "={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5760,
        400
      ],
      "id": "db6a429b-ef15-4ca4-b814-cd364d3e7b71",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c4jvbymBgoOHkiJE",
          "name": "perottijoaquin44"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4d5a7a57-b0bb-4804-8ca5-593db50b93e9",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5980,
        400
      ],
      "id": "11e929c2-6aa3-469d-8755-520a2d82d8b2",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8",
          "mode": "list",
          "cachedResultName": "CRM CONSECIONARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 551874822,
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TEL": "={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "TEL",
              "displayName": "TEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AUTO DE INTERES",
              "displayName": "AUTO DE INTERES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENTREGA",
              "displayName": "ENTREGA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESUPUESTO APROXIMADO",
              "displayName": "PRESUPUESTO APROXIMADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FINANCIA",
              "displayName": "FINANCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMPERATURA",
              "displayName": "TEMPERATURA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6500,
        280
      ],
      "id": "b23ec134-26fc-4466-b23d-a9aec59fc99a",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c4jvbymBgoOHkiJE",
          "name": "perottijoaquin44"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8",
          "mode": "list",
          "cachedResultName": "CRM CONSECIONARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 551874822,
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=551874822"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TEL": "={{ $('Edit Fields').first().json.phone_number.replace(\"+\",\"\") }}",
            "NOMBRE": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('NOMBRE', `nombre`, 'string') }}",
            "FECHA": "={{ $now.format('yyyy-MM-dd') }}",
            "AUTO DE INTERES": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('AUTO_DE_INTERES', `Auto de interés`, 'string') }}",
            "ENTREGA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ENTREGA', `Auto que entrega`, 'string') }}",
            "PRESUPUESTO APROXIMADO": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('PRESUPUESTO_APROXIMADO', `presupuesto`, 'string') }}",
            "FINANCIA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('FINANCIA', `financiación`, 'string') }}",
            "TEMPERATURA": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('TEMPERATURA', `Temperatura:no le interesa, frio, tibio, caliente, compro`, 'string') }}"
          },
          "matchingColumns": [
            "TEL"
          ],
          "schema": [
            {
              "id": "TEL",
              "displayName": "TEL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "NOMBRE",
              "displayName": "NOMBRE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FECHA",
              "displayName": "FECHA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AUTO DE INTERES",
              "displayName": "AUTO DE INTERES",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENTREGA",
              "displayName": "ENTREGA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PRESUPUESTO APROXIMADO",
              "displayName": "PRESUPUESTO APROXIMADO",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FINANCIA",
              "displayName": "FINANCIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TEMPERATURA",
              "displayName": "TEMPERATURA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7560,
        660
      ],
      "id": "29892992-586e-455e-9db6-eac6e5d97fe3",
      "name": "llenar CRM",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c4jvbymBgoOHkiJE",
          "name": "perottijoaquin44"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6720,
        280
      ],
      "id": "459149d2-d452-4d37-a025-804c74cbc318",
      "name": "Limit1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        6720,
        480
      ],
      "id": "98bca029-3781-449e-9567-5831c58a1010",
      "name": "Limit2"
    },
    {
      "parameters": {
        "name": "Autos_disponibles",
        "description": "Usa esta herramienta para buscar autos disponibles"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        4260,
        760
      ],
      "id": "b1dcad83-d195-436f-88e2-405b9b2f79e4",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "autos_disponibles",
          "mode": "list",
          "cachedResultName": "autos_disponibles"
        },
        "options": {
          "queryName": "match_disponibles"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.1,
      "position": [
        4060,
        960
      ],
      "id": "b8edb0d8-7a42-4d3d-a9c6-2fb7c6ac853f",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "aAi23lMmxLjnykSy",
          "name": "Supabase server"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3980,
        1100
      ],
      "id": "21aaa8d5-dc25-4195-83af-1ade23ff1ae6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4420,
        960
      ],
      "id": "9a2dfaee-a54d-4fd5-ac3f-cce7f5d2bbbe",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "="
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        4600,
        400
      ],
      "id": "9ae6b0eb-510a-4da6-925f-76aa69aa9cbc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"cantidad_de_mensajes\": 2,\n  \"mensaje1\": \"Aquí tienes los precios para ortodoncia:\\n\\n- Consulta inicial: `$8,000`\\n- Brackets metálicos: desde `$90,000`\\n\\nAsí se ven los brackets estéticos que también ofrecemos:\",\n  \"mensaje2\": \"Si necesitas agendar cita, por favor responde a este mensaje con tus horarios disponibles. ¡Gracias!\",\n  \"mensaje3\": \"\",\n  \"fotos_mensaje1\": [\"https://ejemplo.com/foto_brackets_esteticos.jpg\"],\n  \"fotos_mensaje2\": [],\n  \"fotos_mensaje3\": []\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        4900,
        600
      ],
      "id": "ad7a1016-5e40-459c-b815-a2f07f4acb62",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        4680,
        600
      ],
      "id": "b475ba30-b0ab-4882-801f-0c23994c7004",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "JLs5AjaXpLGWt3ki",
          "name": "OpenAi GOLA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f33a1f55-e71b-4166-b25f-d4aac0ff1798",
              "leftValue": "={{ $('Basic LLM Chain').first().json.output.fotos_mensaje1.join() }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8120,
        420
      ],
      "id": "a5bb5df8-1f90-4715-a2e4-b489a2ec888c",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje1) ? output.fotos_mensaje1 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8340,
        320
      ],
      "id": "310f6999-cd22-4ec4-928c-92592e0df381",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        8560,
        320
      ],
      "id": "a606d934-b05a-4a7c-9af1-17ed30f34f19",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Name",
              "value": "false"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9220,
        380
      ],
      "id": "62079a50-7cb3-4ba7-ba41-0f9aff4b42f5",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9020,
        380
      ],
      "id": "c39c61e8-9104-4fbd-a150-02d28131af0d",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4301d455-9a60-4fa5-aa48-99a6553b4871",
              "leftValue": "={{ $('Basic LLM Chain').first().json.output.mensaje2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9420,
        220
      ],
      "id": "195dbed6-d5f1-4eee-b14b-7a780da55ff6",
      "name": "If4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        9080,
        240
      ],
      "id": "0fb97dac-d28f-4246-a2cb-215a3bffe674",
      "name": "Limit3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f33a1f55-e71b-4166-b25f-d4aac0ff1798",
              "leftValue": "={{ $('Basic LLM Chain').first().json.output.fotos_mensaje2.join() }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9900,
        200
      ],
      "id": "125afdcb-96c3-4455-bfdf-65baa862e24a",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje2) ? output.fotos_mensaje2 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10120,
        180
      ],
      "id": "76b9735a-4161-46ed-a84a-1f1a34c441f6",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        10300,
        180
      ],
      "id": "4646d682-2379-40c7-a252-c40c893f784d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https:/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Name",
              "value": "false"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10960,
        240
      ],
      "id": "6219e91f-39d5-4992-bfc0-06e7b2c698c1",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10760,
        240
      ],
      "id": "5b928edd-c10c-4a7d-9cca-362967172b09",
      "name": "HTTP Request8"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        10680,
        60
      ],
      "id": "18c8cfc4-d880-4077-8326-d2bbfb14d50e",
      "name": "Limit4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https:/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "="
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9660,
        200
      ],
      "id": "541ef13c-20fc-4767-9f26-686052ab20ce",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4301d455-9a60-4fa5-aa48-99a6553b4871",
              "leftValue": "={{ $('Basic LLM Chain').first().json.output.mensaje3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11260,
        80
      ],
      "id": "7334d57c-c8b8-464b-8157-621b7013f6ee",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f33a1f55-e71b-4166-b25f-d4aac0ff1798",
              "leftValue": "={{ $('Basic LLM Chain').first().json.output.fotos_mensaje3.join() }}",
              "rightValue": ".",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        11740,
        60
      ],
      "id": "de2b3da4-12df-4d0c-989d-d0dd9e645ae8",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "const output = $('Basic LLM Chain').first().json.output;\n\n// Aseguramos que fotos_mensaje1 sea un array válido\nconst fotos1 = Array.isArray(output.fotos_mensaje3) ? output.fotos_mensaje3 : [];\n\n// Si no hay fotos, devolvemos un aviso\nif (fotos1.length === 0) {\n  return [\n    {\n      json: {\n        mensaje: \"No se encontraron fotos en mensaje1\"\n      }\n    }\n  ];\n}\n\n// Devolvemos un ítem por cada foto\nreturn fotos1.map(link => ({\n  json: { Link: link }\n}));\n\n\n\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11960,
        40
      ],
      "id": "ae61e77b-2b9a-4fff-b9fc-b024564fab1a",
      "name": "Code3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        12140,
        40
      ],
      "id": "2225effe-6d71-4e3e-b713-af598a2b2849",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https:/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "Name",
              "value": "false"
            },
            {
              "name": "message_type",
              "value": "outgoing"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12800,
        100
      ],
      "id": "fe17b49e-4174-4ad3-92fb-11482596dfc9",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        12600,
        100
      ],
      "id": "01959e34-8385-4ce8-9182-019768da3c7c",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https:/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Basic LLM Chain').first().json.output.mensaje3 }}"
            },
            {
              "name": "private",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        11500,
        60
      ],
      "id": "f4cf5f7e-4a88-444d-8f6b-3b2c5d1a14ef",
      "name": "HTTP Request12"
    },
    {
      "parameters": {
        "content": "# RECOPILAMOS 1 o VARIOS MENSAJES\n",
        "height": 1040,
        "width": 3020
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        140
      ],
      "id": "62da204f-7fca-42d3-956e-39673dc0c5d7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# IA DA RESPUESTA Y USA HERRAMIENTAS\n",
        "height": 1220,
        "width": 740,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3820,
        40
      ],
      "id": "17e59816-05f2-46a1-ac53-9e8ce4fb9e3d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# LA IA DIVIDE LA RESPUESTA EN VARIOS MENSAJES Y FOTOS (SI HAY)\n",
        "height": 1220,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4580,
        40
      ],
      "id": "143649bd-98c3-4083-982e-b5df87318ae0",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# OBTENEMOS Y LISTAMOS LOS ULTIMOS MENSAJES\n",
        "height": 1220,
        "width": 560,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5120,
        40
      ],
      "id": "9d689b3d-c703-4d2c-8b87-98ffa3614c2d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# LLENAMOS EL CRM Y CREAMOS UNA FILA SI NO EXISTE\n",
        "height": 1220,
        "width": 2040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5720,
        40
      ],
      "id": "0ccf0e46-0f8c-424c-82f7-e4d9798a94d4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# ENVIAMOS VARIOS MENSAJES Y FOTOS\n",
        "height": 1220,
        "width": 5380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7820,
        40
      ],
      "id": "7fbe8e22-6646-4602-a0f0-7c7020005ac4",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8",
          "mode": "list",
          "cachedResultName": "CRM CONSECIONARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1234416365,
          "mode": "list",
          "cachedResultName": "Hoja 3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1RF0mxyfoI9bxFU4zWSCYwSkga_H8pb6QEMdqIJTTog8/edit#gid=1234416365"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        4120,
        780
      ],
      "id": "4ce10639-bb4f-4d36-b5f8-128dd436c2b4",
      "name": "OPCIONES DE FINACIACION",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "c4jvbymBgoOHkiJE",
          "name": "perottijoaquin44"
        }
      }
    }
  ],
  "pinData": {
    "Webhook chatwoot": [
      {
        "json": {
          "headers": {
            "host": "bascwebhook.basconiagenci.top",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "3231",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "bascwebhook.basconiagenci.top",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e03d4101f277",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 2,
              "name": "BASCO IA"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "me encanta como seguimos",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 4,
                "contact_id": 2,
                "inbox_id": 1,
                "source_id": "a5b6e589-b223-46dc-be44-e2265474e247",
                "created_at": "2025-04-24T22:26:31.825Z",
                "updated_at": "2025-04-24T22:26:31.825Z",
                "hmac_verified": false,
                "pubsub_token": "pKtpcnopmh2DDgXhwidjEMQu"
              },
              "id": 2,
              "inbox_id": 1,
              "messages": [
                {
                  "id": 227,
                  "content": "me encanta como seguimos",
                  "account_id": 2,
                  "inbox_id": 1,
                  "conversation_id": 2,
                  "message_type": 0,
                  "created_at": 1745964873,
                  "updated_at": "2025-04-29T22:14:33.374Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:3FD8175C2C338F5EB6F4",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 2,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "me encanta como seguimos",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": 2,
                    "unread_count": 10,
                    "last_activity_at": 1745964873,
                    "contact_inbox": {
                      "source_id": "a5b6e589-b223-46dc-be44-e2265474e247"
                    }
                  },
                  "sender": {
                    "additional_attributes": {
                      "city": "",
                      "country": "",
                      "description": "",
                      "company_name": "",
                      "country_code": "",
                      "social_profiles": {
                        "github": "",
                        "twitter": "",
                        "facebook": "",
                        "linkedin": "",
                        "instagram": ""
                      }
                    },
                    "custom_attributes": {
                      "temperatura_cliente": "caliente"
                    },
                    "email": null,
                    "id": 2,
                    "identifier": "5493385437684@s.whatsapp.net",
                    "name": "Joaquin Perotti",
                    "phone_number": "+5493385437684",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {
                    "city": "",
                    "country": "",
                    "description": "",
                    "company_name": "",
                    "country_code": "",
                    "social_profiles": {
                      "github": "",
                      "twitter": "",
                      "facebook": "",
                      "linkedin": "",
                      "instagram": ""
                    }
                  },
                  "custom_attributes": {
                    "temperatura_cliente": "caliente"
                  },
                  "email": null,
                  "id": 2,
                  "identifier": "5493385437684@s.whatsapp.net",
                  "name": "Joaquin Perotti",
                  "phone_number": "+5493385437684",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": {
                  "id": 2,
                  "name": "Joaquin Basconi",
                  "available_name": "Joaquin Basconi",
                  "avatar_url": "",
                  "type": "user",
                  "availability_status": null,
                  "thumbnail": ""
                },
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {
                "temperatura": "a",
                "estado_del_bot": "Prendido"
              },
              "snoozed_until": null,
              "unread_count": 10,
              "first_reply_created_at": "2025-04-25T13:28:12.435Z",
              "priority": null,
              "waiting_since": 1745964873,
              "agent_last_seen_at": 1745963417,
              "contact_last_seen_at": 1745964852,
              "last_activity_at": 1745964873,
              "timestamp": 1745964873,
              "created_at": 1745533591,
              "updated_at": 1745964873.395819
            },
            "created_at": "2025-04-29T22:14:33.374Z",
            "id": 227,
            "inbox": {
              "id": 1,
              "name": "Cocesionaria Chatwoot"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 2,
                "name": "BASCO IA"
              },
              "additional_attributes": {
                "city": "",
                "country": "",
                "description": "",
                "company_name": "",
                "country_code": "",
                "social_profiles": {
                  "github": "",
                  "twitter": "",
                  "facebook": "",
                  "linkedin": "",
                  "instagram": ""
                }
              },
              "avatar": "",
              "custom_attributes": {
                "temperatura_cliente": "caliente"
              },
              "email": null,
              "id": 2,
              "identifier": "5493385437684@s.whatsapp.net",
              "name": "Joaquin Perotti",
              "phone_number": "+5493385437684",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "WAID:3FD8175C2C338F5EB6F4",
            "event": "message_created"
          },
          "webhookUrl": "https://bascwebhook.basconiagenci.top/webhook/6858bb79-73bd-4648-a507-9cbb75c85f6d",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook chatwoot": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "llenar CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPCIONES DE FINACIACION": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "instanceId": "03c5c3c59a4971776808a7b96dbe928cce17180dcaa29ee8287c1f6efdde7df1"
  },
  "tags": []
}