Redes Sociales/Agente post redes sociales/Content_creator.json
{
  "name": "Content creator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Id: {{ $json.sessionId }}\nChatInput{{ $json.chatInput }}",
        "options": {
          "systemMessage": "=You are a helpful content creator for Simon Hoiberg’s personal brand. Use the below steps to create content.\n\nSteps:\n1. Always start by getting the brand brief using the Get_Brand_Brief tool.\n2. Create a post on the requested topic that aligns with the brand brief.\n3. Get feedback and a score on the post you created in step 2 by using the Get_Content_Feedback tool.\n4. If the score is below 0.8, use the feedback from step 3 to refine the post, then repeat steps 3 and 4.\n5. The final output should be the approved post."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        -60
      ],
      "id": "bde7f8bd-a42d-4d2e-9a43-2104e8965fa7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        120
      ],
      "id": "0a3070a2-f8f5-435d-93c2-30322ce07c25",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ISeoryrnEK9xlSkl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -20,
        160
      ],
      "id": "64511325-e0ee-4223-85fa-a01a1c9b8e7c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "name": "Get_Brand_Brief",
        "workflowId": {
          "__rl": true,
          "value": "dtVbgyzBTF6VwNnA",
          "mode": "list",
          "cachedResultName": "Get Band brief"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        100,
        160
      ],
      "id": "c17d3453-0657-4571-ac27-9c1f6a6e80d9",
      "name": "Get Brand Brief"
    },
    {
      "parameters": {
        "name": "Get_Content_Feedback",
        "workflowId": {
          "__rl": true,
          "value": "gFKIIWZptKQOSpZU",
          "mode": "list",
          "cachedResultName": "get content feeback"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        220,
        100
      ],
      "id": "17a554d5-8098-4eb5-967d-91d55d300032",
      "name": "Get Content Feedback"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -100
      ],
      "id": "dab02fe2-d445-4729-922c-91128e249e81",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "suggestions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -760,
        -100
      ],
      "id": "94860570-b837-46aa-b3c5-7c26377fe830",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -540,
        -100
      ],
      "id": "024073ac-d65f-4b06-8487-87282be77979",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"sessionId\": \"{{ $itemIndex }}\",\n  \"action\": \"sendMessage\",\n  \"chatInput\": \"{{ $('Split Out').item.json.suggestions }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        0
      ],
      "id": "f67235ab-9bc7-4cfb-a165-f640c88e70b5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ur8LRHZhwQ9FrkiT",
          "mode": "list",
          "cachedResultName": "get content ideas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -980,
        -100
      ],
      "id": "f24a8051-4a7d-449f-973b-e565ade683c4",
      "name": "Get content ideas"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bB_ulBw1j-dVeMe_mx3jQVDvkKPEkhFTJlIH9jADWFc",
          "mode": "list",
          "cachedResultName": "Post Social Media",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bB_ulBw1j-dVeMe_mx3jQVDvkKPEkhFTJlIH9jADWFc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bB_ulBw1j-dVeMe_mx3jQVDvkKPEkhFTJlIH9jADWFc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Edit Fields').item.json.sessionId }}",
            "Input": "={{ $json.output }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Input",
              "displayName": "Input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        540,
        140
      ],
      "id": "0665544a-5a61-40da-bf3b-00176c9e1a18",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IkUuyzh7kfeZuYRb",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Brief": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Content Feedback": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get content ideas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get content ideas": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "850b7e55-ee11-42f1-8662-b49fc251abe8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44babe1b93e0854d9121d3a07b3fb37512f05d2ce7806af059067e8762737492"
  },
  "id": "SWlEkNfe7RyCR0gG",
  "tags": []
}